html, body, div, span, applet, object, iframe, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


html{
    scroll-behavior: smooth;
}

/* body */
body{
    color: darkred;
    background-color: mistyrose;
    font-family: Helvetica;
    text-align: center;
    margin:1%;
    padding:.5%;
}

/* header and a tags */
header nav{
    display: flex;
    justify-content: space-evenly;
    padding:1%;
}

a{
    color: black;
    border: 2px dotted salmon;
    border-radius: 8px;
    padding:0.5%;
}

a:hover{
    background-color: gainsboro;
    transition: .3s;
}

/* images */

img{
    border-radius:8px;
}

/* contact form */

ul{
    padding:1%;
    list-style: none;
}

/* about page */

#about2 img{
    margin-right: 5%;
    max-width: 35%;
}

#about2 p{
    display: flex;
    justify-content: start;
}

.bigContainer{
    display: flex;
    justify-content: space-evenly;
}

.container1, .container2{
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media (max-width:500px){
    header nav{
        display: flex;
        flex-direction:column ;
    }
    a{
        border: none;
    }
    img{
        max-width: 100%;
    }
    .bigContainer{
        display: flex;
        flex-direction: column;
    }
}